/* ==UserStyle==
@name           niconico-returnplayer_minor_fix_for_me
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    ニコ動のプレイヤー周りをいじる
@author         toarugema
==/UserStyle== */
@-moz-document domain("nicovideo.jp") {

    /*
    ニコニコ動画の動画再生画面をカクカクにする（2024年9月修正）
    from: https://www.naporitansushi.com/niconico-player-non-rounded-corners
    元のCSSからフォロー中を角丸のままにした
    */
    .bdr_m:not(.gap_base .ai_center) {
        border-radius: 0px !important;
    }
    
    /*
    コメント欄の長さを調整する
    ただしコントローラーを常に表示する場合のみ←CSSだけだと無理そうなので一旦無し
    */
    .h_var\(--watch-player-height\){
        height: calc(
            var(--watch-player-height) /*元の高さ*/ 
            + var(--spacing-base) /*コントローラー再生バー上のマージン*/
            + var(--sizes-x0_5) /*コントローラー再生バー*/
            + var(--spacing-x0_5) /*コントローラー再生バー下のマージン*/
            + var(--sizes-x5) /*コントローラー*/
            + var(--spacing-x0_5) /*コントローラー最下部のマージン*/
        ) !important;
    }
    
    /*
    動画プレイヤーとコメント欄をくっつける
    */
    .cg_x3 {
        column-gap: 0px !important;
    }
    
    /*
    おすすめ欄を離す
    SUPER THANKS! @ruru@misskey.flowers
    */
    div.flex-d_column:nth-child(7) > section:nth-child(2),.grid-area_\[sidebar\] > .d_flex.flex-d_column.gap_x2 > .flex-g_1{
        padding-left: 20px !important; 
    }

}
